<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="services">
      <div class="container">
        <h2>Our Services <small>Services & products we offer</small></h2>
        
        <!--Intro text-->
        <p>Augue! Egestas eu tincidunt mus vel? Augue quis? Enim in? Pulvinar auctor lacus parturient urna turpis ut, nunc pellentesque nascetur elementum massa augue dignissim! Aliquam velit?</p>
        <ul class="thumbnails">
          <li class="span4"> <i class="icon-group icon-4x i-primary i-circle"></i>
            <h4 class="title">Database</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-pencil icon-4x i-primary i-circle"></i>
            <h4 class="title">User Interface Design / User Interface Theming</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-cogs icon-4x i-primary i-circle"></i>
            <h4 class="title">Code & Development / Implementation Support</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-bar-chart icon-4x i-primary i-circle"></i>
            <h4 class="title">Analysis and Planning</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-refresh icon-4x i-primary i-circle"></i>
            <h4 class="title">Business Analysis</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-globe icon-4x i-primary i-circle"></i>
            <h4 class="title">Quality Assurance</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
        </ul>
      </div>
    </div>
    
    <!--Secondary services info-->
    <div class="focus-block">
      <div class="row-fluid">
        <div class="span8"> 
          
          <!--Our Process Accordion-->
          <h3>Our Process</h3>
          <div class="accordion" id="accordion"> 
            <!--item 1-->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="default"></i> Planning & Consultation</a> </div>
              <div id="collapse1" class="accordion-body collapse">
                <div class="accordion-inner"> Aliquam hac odio et in ultricies vel duis dignissim a tincidunt in, duis lundium dapibus integer cras ac natoque? Ultrices ac? Integer odio, integer, lectus dictumst urna turpis! Lectus urna hac platea vut augue velit tincidunt? Tincidunt tincidunt penatibus porta non velit, lundium in et, quis porta sed aenean mid rhoncus porttitor lacus ut arcu tempor eros placerat tortor tortor? Magnis porta ac ac, adipiscing est, sed, tincidunt turpis placerat. Natoque vel pulvinar lorem? Odio rhoncus, lacus vel in adipiscing pid tortor adipiscing risus enim. Magnis ac urna pulvinar sed, platea et natoque, aliquet ridiculus magna elementum in? Velit nisi natoque, amet. Pid nisi? Habitasse eros porta vel integer placerat aenean magnis, sit phasellus turpis? Montes etiam integer habitasse pid. </div>
              </div>
            </div>
            
            <!--item 2-->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="default"></i> Wireframe & IA</a> </div>
              <div id="collapse2" class="accordion-body collapse">
                <div class="accordion-inner"> Aliquam hac odio et in ultricies vel duis dignissim a tincidunt in, duis lundium dapibus integer cras ac natoque? Ultrices ac? Integer odio, integer, lectus dictumst urna turpis! </div>
              </div>
            </div>
            
            <!--item 3-->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="default"></i> Design Process</a> </div>
              <div id="collapse3" class="accordion-body collapse">
                <div class="accordion-inner"> Aliquam hac odio et in ultricies vel duis dignissim a tincidunt in, duis lundium dapibus integer cras ac natoque? Ultrices ac? Integer odio, integer, lectus dictumst urna turpis! </div>
              </div>
            </div>
            
            <!--item 4-->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="default"></i> Development & Delivery</a> </div>
              <div id="collapse4" class="accordion-body collapse">
                <div class="accordion-inner"> Aliquam hac odio et in ultricies vel duis dignissim a tincidunt in, duis lundium dapibus integer cras ac natoque? Ultrices ac? Integer odio, integer, lectus dictumst urna turpis! </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Got questions & get brochure block-->
        <div class="span4 connect-links">
          <h3>Got Questions?</h3>
          <a href="#"><i class="icon-comments-alt"></i> Live Chat<small>Daily from 9am-5pm</small></a> <a href="#"><i class="icon-envelope"></i> Email<small>info@flexor.com</small></a> <a href="#"><i class="icon-phone"></i> Phone<small>123-4567-89000</small></a> <a href="#"><i class="icon-cloud-download"></i> Download our brochure<small>PDF file / 58kb</small></a> </div>
      </div>
    </div>
  </div>
</div>