<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2>Showcase</h2>
      <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
      <ul class="nav nav-tabs hidden-phone" id="quicksand-categories">
        <li class="active"><a href="#" class="all">All Work</a></li>
        <li><a href="#" class="type-web">Web</a></li>
        <li><a href="#" class="type-design">Design</a></li>
        <li><a href="#" class="type-media">Media</a></li>
      </ul>
    </div>
    
    <!--Portfolio items-->
    <ul class="thumbnails showcase page" id="quicksand">
      <li class="item type-design span3" data-id="id-1" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project1.png" alt="Project 1 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 1</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-2" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project2.png" alt="Project 2 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 2</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-media span3" data-id="id-3" data-type="type-media"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project3.png" alt="Project 3 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 3</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-4" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project4.png" alt="Project 4 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 4</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-5" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project5.png" alt="Project 5 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 5</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-web span3" data-id="id-6" data-type="type-web"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project6.png" alt="Project 6 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 6</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-7" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project7.png" alt="Project 7 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 7</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-8" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project8.png" alt="Project 8 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 8</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-web span3" data-id="id-9" data-type="type-web"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project9.png" alt="Project 9 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 9</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-10" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project10.png" alt="Project 10 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 10</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-media span3" data-id="id-11" data-type="type-media"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project11.png" alt="Project 11 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 11</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
      <li class="item type-design span3" data-id="id-12" data-type="type-design"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project12.png" alt="Project 12 image" class="underlay" /> <span class="overlay on"></span> </a> <span> <span class="h3"><a href="showcase-item.htm">Project 12</a></span> <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </span> </li>
    </ul>
    <div class="pagination pagination-centered">
      <button type="button" class="btn btn-block" data-loading-text="Loading...">Load More</button>
    </div>
  </div>
</div>