<div id="content">
  <div class="container"> 
    <!-- Pricing -->
    <h2>Our Plans</h2>
    
    <!--stack 1: 4 columns-->
    <div class="pricing-stack">
      <div class="well">
        <h3 class="title"><span class="uc">Flex</span><em>Starter</em></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">19.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>3 User Accounts</li>
            <li>3 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>5GB of space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well">
        <h3 class="title"><span class="uc">Team</span></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">49.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>50 User Accounts</li>
            <li>50 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well active">
        <h3 class="title">Enterprise <span class="popular"><i class="icon-thumbs-up"></i> Popular</span></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">199.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>100 User Accounts</li>
            <li>100 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well">
        <h3 class="title">Corporate</h3>
        <p class="price"><span class="currency">$</span> <span class="digits">299.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>1000 User Accounts</li>
            <li>1000 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
    </div>
    
    <!-- Stack 2: 3 columns-->
    <h3>3 Columns</h3>
    <div class="pricing-stack three">
      <div class="well">
        <h3 class="title"><span class="uc">Flex</span><em>Starter</em></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">19.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>3 User Accounts</li>
            <li>3 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>5GB of space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well active">
        <h3 class="title">Enterprise <span class="popular"><i class="icon-thumbs-up"></i> Popular</span></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">199.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>100 User Accounts</li>
            <li>100 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well">
        <h3 class="title">Corporate</h3>
        <p class="price"><span class="currency">$</span> <span class="digits">299.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>1000 User Accounts</li>
            <li>1000 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
    </div>
    
    <!-- Stack 3: 2 columns-->
    <h3>2 Columns</h3>
    <div class="pricing-stack two">
      <div class="well">
        <h3 class="title"><span class="uc">Flex</span><em>Starter</em></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">19.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>3 User Accounts</li>
            <li>3 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>5GB of space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
      <div class="well active">
        <h3 class="title">Enterprise <span class="popular"><i class="icon-thumbs-up"></i> Popular</span></h3>
        <p class="price"><span class="currency">$</span> <span class="digits">199.<span>95</span></span> <span class="term">/mo.</span></p>
        <div class="border">
          <ul class="unstyled points">
            <li>100 User Accounts</li>
            <li>100 Private Projects</li>
            <li>Umlimited Projects</li>
            <li>Unlimited space</li>
          </ul>
          <a href="#" class="btn btn-primary btn-small">Choose Plan</a> </div>
      </div>
    </div>
  </div>
</div>