<% content_for :hero do %>
<div class="hero" id="highlighted">
    <div class="inner"> 
      <!--Flexslider Showshow-->
      <section class="flexslider-wrapper container">
        <div class="flexslider" data-slidernav="auto" data-transition="slide"> 
          <!--The Slides-->
          <div class="slides"> 
            
            <!--Slide #1 with caption-->
            <div class="slide row-fluid">
              <div class="span6 pull-center hidden-phone"><img src="img/slides/slide1.png" alt="Slide 1" /></div>
              <div class="span6 caption">
                <h2 class="enlarge">Welcome to <span class="em">Datamond</span></h2>
                <h4>Super flexible responsive theme with a modest design touch.</h4>
                <p>Perfect for your App, Web service, company or portfolio! Magna tincidunt sociis ac integer amet non. Rhoncus augue? Tempor porttitor sed, aliquet phasellus a, nisi nunc aliquet nec rhoncus enim porttitor ultrices lacus tristique?</p>
                <a href="https://wrapbootstrap.com/user/themelize_me" class="btn more-link large i-right">Buy Now <i class="default"></i></a> </div>
            </div>
            
            <!--Slide #2 -->
            <div class="slide row-fluid">
              <div class="span6 caption caption-right">
                <h2 class="enlarge"><span class="em">Datamond</span> Bootstrap Theme</h2>
                <h4>High quality, responsive theme!</h4>
                <p>Perfect for your App, Web service, company or portfolio! Magna tincidunt sociis ac integer amet non. Rhoncus augue? Tempor porttitor sed, aliquet phasellus a, nisi nunc aliquet nec rhoncus enim porttitor ultrices lacus tristique?</p>
                <a href="https://wrapbootstrap.com/user/themelize_me" class="btn more-link large"><i class="default"></i> Learn More</a> </div>
              <div class="span6  hidden-phone"> <img src="img/slides/slide2.png" alt="Slide 2" /> </div>
            </div>
            
            <!--Slide #3 & so on below--> 
            
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>  

<div id="content"> 
  
  <% if @show_showcase %>
  <!--Showcase-->
  <div class="showcase block">
    <div class="container">
      <div class="row-fluid">
        <h2 class="block-title">Showcase</h2>
        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        <div class="flexslider-carousel" data-item-width="270" data-item-margin="30">
          <div class="items">
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project1.png" alt="Project 1 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 1</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project2.png" alt="Project 2 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 2</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project3.png" alt="Project 3 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 3</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project4.png" alt="Project 4 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 4</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project5.png" alt="Project 5 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 5</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project6.png" alt="Project 6 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 6</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project7.png" alt="Project 7 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 7</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project8.png" alt="Project 8 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 8</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project9.png" alt="Project 9 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 9</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project10.png" alt="Project 10 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 10</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project11.png" alt="Project 11 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 11</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
            <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project12.png" alt="Project 12 image" class="underlay" /> <span class="overlay on"></span> </a>
              <div>
                <h3><a href="showcase-item.htm">Project 12</a></h3>
                <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  
  <!-- Services -->
  <div class="services block">
    <div class="container">
      <h2 class="block-title">Our Services</h2>
      <ul class="thumbnails">
        <li class="span4"> <i class="icon-group icon-4x i-primary i-circle"></i>
          <h4 class="title">User Experience / Information Architecture</h4>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
        </li>
        <li class="span4"> <i class="icon-pencil icon-4x i-primary i-circle"></i>
          <h4 class="title">User Interface Design / User Interface Theming</h4>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
        </li>
        <li class="span4"> <i class="icon-cogs icon-4x i-primary i-circle"></i>
          <h4 class="title">Code & Development / Implementation Support</h4>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
        </li>
      </ul>
    </div>
  </div>  
  
  <!--Customer testimonial & Latest Blog posts-->
  <div class="testimonials block">
    <div class="container">
      <div class="row-fluid"> 
        
        <!--Customer testimonial-->
        <div class="span6">
          <h3 class="block-title">Testimonials</h3>
          <blockquote>
            <p>Our productivity & sales are up! Customers are happy & we couldn't be happier with this product!</p>
            <img src="img/misc/charles-quote.png" alt="Charles Spencer Chaplin" /> <small><strong>Charles Chaplin</strong><br />
            British comic actor</small> </blockquote>
        </div>
        
        <!--Latest Blog posts-->
        <div class="span6 blog-roll">
          <h3 class="block-title">Latest From Our Blog</h3>
          
          <!-- Blog post 1-->
          <div class="media row-fluid">
            <div class="span1 hidden-phone"> 
              <!-- Date desktop -->
              <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">01</span> </div>
            </div>
            <div class="span11">
              <div class="media-body">
                <h4 class="title media-heading"><a href="blog-post.htm">amet urna integer urna enim, sit arcu pid in nec?</a></h4>
                
                <!-- Meta details mobile -->
                <ul class="inline meta muted visible-phone">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Fri 1st Feb 2013</li>
                  <li><i class="icon-user"></i> <a href="#">Joe</a></li>
                </ul>
                <p>Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu. <a href="blog-post.htm">Read more <i class="icon-angle-right"></i></a></p>
              </div>
            </div>
          </div>
          
          <!-- Blog post 2 -->
          <div class="media row-fluid">
            <div class="span1 hidden-phone"> 
              <!-- Date desktop -->
              <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">17</span> </div>
            </div>
            <div class="span11">
              <div class="media-body">
                <h4 class="title media-heading"><a href="blog-post.htm">a nec in sed hac ultrices cursus</a></h4>
                
                <!-- Meta details mobile -->
                <ul class="inline meta muted visible-phone">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 17th Jan 2013</li>
                  <li><i class="icon-user"></i> <a href="#">Joe</a></li>
                </ul>
                <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Aenean at massa leo. Vestibulum in varius arcu. <a href="blog-post.htm">Read more <i class="icon-angle-right"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  

</div>
