        <!--Intro text-->
        <p>Augue! Egestas eu tincidunt mus vel? Augue quis? Enim in? Pulvinar auctor lacus parturient urna turpis ut, nunc pellentesque nascetur elementum massa augue dignissim! Aliquam velit?</p>
        <ul class="thumbnails">
          <li class="span4"> <i class="icon-group icon-2x i-primary i-circle"></i>
            <h4 class="title">Database</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-pencil icon-4x i-primary i-circle"></i>
            <h4 class="title">Software Development</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-cogs icon-4x i-primary i-circle"></i>
            <h4 class="title">Website</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-bar-chart icon-4x i-primary i-circle"></i>
            <h4 class="title">Network</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-refresh icon-4x i-primary i-circle"></i>
            <h4 class="title">Business Analysis</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
          <li class="span4"> <i class="icon-globe icon-4x i-primary i-circle"></i>
            <h4 class="title">Quality Assurance</h4>
            <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur. <a href="services.htm">Learn More <i class="icon-angle-right"></i></a></p>
          </li>
        </ul>