<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="services">
      <div class="container">
        <h2><small>Consulting: </small>Database</h2>
        
        <ul class="thumbnails">
            <li class="span4"> <i class=" icon-check icon-4x i-primary i-circle"></i>
                <h4 class="title">Database Optimization</h4>
                <p>There comes a time when improvements are required for the existing database framework within an organization.  At Datamond, we will work with your company to effectively upgrade and improve the overall performance of your current database. We will conduct our analysis to determine where the enhancements are required then make our recommendations to fix and improve the capabilities of your current database.  We are proven professionals when it comes to complete Database Optimization.</p>
            </li>            
            <li class="span4"> <i class="icon-download-alt icon-4x i-primary i-circle"></i>
                <h4 class="title">Data Migration</h4>
                <p>There is an extremely important task known as Data Migration that must be executed as needed. When data is transferred between computer systems, storage types, or formats the process is called Data Migration. There are a number of common causes for this which includes company mergers and addition of new software to the workplace.  We offer efficient data migration strategizing in an effort to make the process for your company as simple as possible.</p>
            </li>
            <li class="span4"> <i class="icon-lock icon-4x i-primary i-circle"></i>
                <h4 class="title">Database Security</h4>
                <p>For any organization or company, the database servers are the most critical servers that are owned as they store very important information.  As databases are known to have a high rate of security breaches, it is imperative that steps be taken to keep them safe from such security threats. At Datamond, we provide you with all the tools and knowledge necessary to keep your database safe and secure. The experts at Datamond fully understand how crucial database security is to your organization.</p>
            </li>
            <li class="span4"> <i class="icon-calendar icon-4x i-primary i-circle"></i>
                <h4 class="title">Data Mining</h4>
                <p>When it comes time to go through and analyze huge amounts of data to determine its significance, Datamond is ready to offer our expert services to your company.  Our data mining proficiency can guide your organization to determine and understand what the latest trends may be in your line of business. This can extremely beneficial in providing the comfort level your organization needs when making aggressive business decisions. </p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>