<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="services">
      <div class="container">
        <h2><small>Consulting: </small>Network</h2>
        <ul class="thumbnails">
            <li class="span4"> <i class="icon-link icon-4x i-primary i-circle"></i>
                <h4 class="title">LAN &amp; WAN</h4>
                <p>Local Area Network (LAN) and Wide Area Network (WAN) are major components for any company that has the need to store data and operate cohesively.  The consulting experts at Datamond will demonstrate which hardware and software will be beneficial after it’s determined what your overall targets and objectives are.  With our experience, we will guide you to make the most economical decisions concerning which LAN and WAN will be the right choice for your company’s requirements.</p>
            </li>            
            <li class="span4"> <i class="icon-lock icon-4x i-primary i-circle"></i>
                <h4 class="title">Security</h4>
                <p>Having a well thought out plan of action when it comes to your network’s security is extremely vital. Our team at Datamond will advise you on a complete risk evaluation that will include proactive and reactive strategies. We will include a game plan to keep susceptibilities and risk at a minimal level. Our game plan strategy will also include steps to recover from an attack on your network after the corruption is assessed.</p>
            </li>
            <li class="span4"> <i class=" icon-signal icon-4x i-primary i-circle"></i>
                <h4 class="title">Wireless</h4>
                <p>With laptops and employee mobility on the rise, your organization may want to consider a wireless network powered by a Wi-Fi connection in addition to your wired network. The professionals at Datamond will advise you about the advantages of using a wireless network for your firm. While switching to a wireless network can have its challenges, we will help you determine which wireless network is most beneficial and cost effective for your company.</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>