<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="services">
      <div class="container">
        <h2><small>Consulting: </small>Website</h2>
        <ul class="thumbnails">
            <li class="span4"> <i class="icon-magic icon-4x i-primary i-circle"></i>
                <h4 class="title">Website Design</h4>
                <p>In this day and age, it is crucial for any successful business to have an online presence. Having a website is beneficial in many different ways such as communicating with current and potential clients, addressing customer’s issues, and introducing new products to name a few. At Datamond, we are committed in creating effective website designs that clearly define your organization, are user friendly, and will bring the results you desire. When it comes to your World Wide Web presence, Datamond will make certain you are completely satisfied.</p>
            </li>            
            <li class="span4"> <i class="icon-signal icon-4x i-primary i-circle"></i>
                <h4 class="title">Mobile Sites</h4>
                <p>Mobile sites are a rapidly growing medium in Canada and throughout the world. With the ever growing availability of smartphones, website traffic originating from mobile devices is on the rise and trending upwards. Datamond has the experience and expertise to guide your organization in making effective mobile sites that will drive business and increase website traffic. We will show you how you can take advantage of mobile functions such as QR code scanners, online customer service chat, business directions, and more.</p>
            </li>
            <li class="span4"> <i class="icon-edit icon-4x i-primary i-circle"></i>
                <h4 class="title">Content Writing</h4>
                <p>Web content writing has many differences from any other type of marketing writing. Your web content must clearly and quickly communicate with your customer base what kind of product or service is being offered. You have mere seconds to grab their attention. The web content writing specialists at Datamond will offer their expertise on how to write content that will promptly entice all of your website visitors to want to learn more about your organization.</p>
            </li>
        </ul>        
      </div>
    </div>
  </div>
</div>