<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar hidden-phone">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li><a href="about.htm" class="first">About Us <small>How It All Began</small></a></li>
            <li class="active"><a href="team.htm">The Team <small>Our team of stars</small></a></li>
            <li><a href="contact.htm">Contact Us<small>How to get in touch</small></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2>The Team <small>Our team of stars!</small></h2>
        
        <!-- The team -->
        <div class="block team" id="team">
          <div class="media">
            <div class="pull-left"> <img src="img/team/jimi.jpg" class="img-polaroid media-object" alt="Jimi" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Jimi</h4>
              <p class="role">Founder & developer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/adele.jpg" class="img-polaroid media-object" alt="Adele" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Adele</h4>
              <p class="role">Founder & designer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/bono.jpg" class="img-polaroid media-object" alt="Bono" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Bono</h4>
              <p class="role">The Tech Guy & all round good guy!</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/deniro.jpg" class="img-polaroid media-object" alt="Robert" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Robert</h4>
              <p class="role">Junior designer</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="icon-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/jobs.jpg" class="img-polaroid media-object" alt="Steve" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Steve</h4>
              <p class="role">Sales Manager</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="icon-google-plus"></i> Google+</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/jolie.jpg" class="img-polaroid media-object" alt="Angelina" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Angelina</h4>
              <p class="role">Marketing Expert</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/obama.jpg" class="img-polaroid media-object" alt="Obama" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Obama</h4>
              <p class="role">Project Manager</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="pull-left"> <img src="img/team/women1.jpg" class="img-polaroid media-object" alt="Erin" /> </div>
            <div class="media-body">
              <h4 class="media-heading">Erin</h4>
              <p class="role">Project Manager</p>
              <p>Sociis nisi facilisis lorem phasellus hac in ut. Integer sed aenean mus. Urna nunc integer in arcu et. Mus sit, risus vel nisi mattis! Sit platea tortor ultrices urna placerat rhoncus diam elementum.
                Sed! Duis, massa, porta odio, dapibus dapibus, lundium in turpis nunc et tempor. Lacus dictumst vel et cras tortor nec nec, elementum facilisis, sed penatibus?</p>
              <ul class="inline">
                <li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>