  <div class="container"> 
    <!--login modal form-->
    <div id="login-modal" class="modal modal-inline" tabindex="-1" role="dialog">
      <div class="modal-header">
        <h3 id="login-modal-label"><i class="icon-signin"></i> Login</h3>
      </div>
      <div class="modal-body">
        <form action="login.htm" class="form-inline" id="login-form">
          <input type="text" class="input-block-level email" placeholder="Email">
          <br />
          <input type="text" class="input-block-level password" placeholder="Password">
          <br />
          <input type="button" class="btn btn-primary login" value="Login">
        </form>
      </div>
      <div class="modal-footer"> <small>Not a member? <a href="register.htm" class="signup">Register now!</a></small> <small><a href="#">Forgotten password?</a></small> </div>
    </div>
  </div>