<div id="content">
  <div class="container">
    <div class="row-fluid"> 
      <!--Blog Roll Content-->
      <div class="span9 blog-roll blog-list">
        <h2>News</h2>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">26</span> </div>
          </div>
          <div class="span2"> <a href="blog-post.htm" class="media-object"> <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" /> </a> </div>
          <div class="span9">
            <div class="media-body">
              <h4 class="title media-heading"><a href="blog-post.htm">Odio, nunc platea mattis, mid et</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted">
                <li>By <a href="#">Joe</a></li>
                <li><span  class="visible-phone">Created: 26 Feb 2013</span></li>
              </ul>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="blog-post.htm" class="btn more-link"><i class="default"></i> Read more</a></li>
                <li><a href="blog-post.htm#comments" class="btn more-link"><i class="icon-comment"></i> 25 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">25</span> </div>
          </div>
          <div class="span2"> <a href="blog-post.htm" class="media-object"> <img src="img/blog/frog.jpg" alt="Picture of frog by Ben Fredericson" /> </a> </div>
          <div class="span9">
            <div class="media-body">
              <h4 class="title media-heading"><a href="blog-post.htm">Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted">
                <li>By <a href="#">Alex</a></li>
                <li><span  class="visible-phone">Created: 25 Feb 2013</span></li>
              </ul>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="blog-post.htm" class="btn more-link"><i class="default"></i> Read more</a></li>
                <li><a href="blog-post.htm#comments" class="btn more-link"><i class="icon-comment"></i> 6 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">23</span> </div>
          </div>
          <div class="span2"> <a href="blog-post.htm" class="media-object"> <img src="img/blog/frog.jpg" alt="Picture of frog by Ben Fredericson" /> </a> </div>
          <div class="span9">
            <div class="media-body">
              <h4 class="title media-heading"><a href="blog-post.htm">Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted">
                <li>By <a href="#">Joe</a></li>
                <li><span  class="visible-phone">Created: 23 Feb 2013</span></li>
              </ul>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="blog-post.htm" class="btn more-link"><i class="default"></i> Read more</a></li>
                <li><a href="blog-post.htm#comments" class="btn more-link"><i class="icon-comment"></i> 45 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">09</span> </div>
          </div>
          <div class="span2"> <a href="blog-post.htm" class="media-object"> <img src="img/blog/ladybird.jpg" alt="Picture of frog by Ben Fredericson" /> </a> </div>
          <div class="span9">
            <div class="media-body">
              <h4 class="title media-heading"><a href="blog-post.htm">Porta risus porttitor facilisis sit dapibus</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted">
                <li>By <a href="#">Tom</a></li>
                <li><span  class="visible-phone">Created: 09 Feb 2013</span></li>
              </ul>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="blog-post.htm" class="btn more-link"><i class="default"></i> Read more</a></li>
                <li><a href="blog-post.htm#comments" class="btn more-link"><i class="icon-comment"></i> 44 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> <span class="date-m">Feb</span> <span class="date-d">05</span> </div>
          </div>
          <div class="span2"> <a href="blog-post.htm" class="media-object"> <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" /> </a> </div>
          <div class="span9">
            <div class="media-body">
              <h4 class="title media-heading"><a href="blog-post.htm">Magna aliquet diam mauris tortor turpis vel porta</a></h4>
              
              <!-- Meta details mobile -->
              <ul class="inline meta muted">
                <li>By <a href="#">Tom</a></li>
                <li><span  class="visible-phone">Created: 05 Feb 2013</span></li>
              </ul>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</p>
              <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut <strong>commodo ullamcorper risus nec</strong> mattis</p>
              <ul class="inline links">
                <li><a href="blog-post.htm" class="btn more-link"><i class="default"></i> Read more</a></li>
                <li><a href="blog-post.htm#comments" class="btn more-link"><i class="icon-comment"></i> 45 Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--
        <div class="pagination pagination-centered">
          <button type="button" class="btn btn-block" data-loading-text="Loading...">Load More</button>
        </div>
        -->
      </div>
      
      <!--Sidebar-->
      <div class="span3 sidebar sidebar-right">
        <div class="inner">
        <!--
          <div class="block">
            <div class="input-append">
              <input class="span8" id="appendedInputButton" type="text" placeholder="Search">
              <button class="btn" type="button"><i class="icon-search"></i></button>
            </div>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>Tags</span></h4>
            <div class="tag-cloud"> <span><a href="#">culture</a> (62)</span> <span><a href="#">general</a> (95)</span> <span><a href="#">coding</a> (15)</span> <span><a href="#">design</a> (93)</span> <span><a href="#">weather</a> (72)</span> <span><a href="#">jobs</a> (24)</span> <span><a href="#">health</a> (21)</span> </div>
          </div>
          <div class="block">
            <h4 class="title-divider"><span>Archive</span></h4>
            <ul class="big-list tags">
              <li><a href="#">March 2013</a> (93)</li>
              <li><a href="#">February 2013</a> (76)</li>
              <li><a href="#">January 2013</a> (60)</li>
              <li><a href="#">December 2012</a> (17)</li>
              <li><a href="#">November 2012</a> (21)</li>
              <li><a href="#">October 2012</a> (38)</li>
              <li><a href="#">September 2012</a> (97)</li>
            </ul>
          </div>
          <div class="block"> <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a> </div>
        -->    
        </div>
      </div>
    </div>
  </div>
  <!--.container--> 
</div>
<!--#content-->