<div id="content">
  <div class="container" id="about">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar hidden-phone">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="active"><a href="about.htm" class="first">About Us <small>How It All Began</small></a></li>
            <li><a href="team.htm">The Team <small>Our team of stars</small></a></li>
            <li><a href="contact.htm">Contact Us<small>How to get in touch</small></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2>About Us</h2>
        <!-- About company -->
        <p class="lead"></p>
        <figure class="img-wrap"><img src="img/misc/about-us.png" alt="About us" class="img-left" />
          <figcaption>sample image caption</figcaption>
        </figure>
        <p>With offices in the Greater Toronto Area, Datamond is your number one authority when it comes to data management. Our mission is to provide your business with a fresh outlook to your data challenges. At Datamond, we recognize that clients want to work with complete professionals that begin providing resolutions right from the start.</p>
        <p>Clients like to work with us because we never take the “half way” approach when providing our expertise. We are committed to our clients in providing strategies for any data challenges your company or organization may be facing.</p>
        <p>Some of the services we offer and excel at are:</p>
        <p>
        <ul>
            <li>Database Optimization</li>
            <li>Data Migration</li>
            <li>Database Security</li>
            <li>Data Mining</li>
            <li>Website Design</li>
            <li>LAN &amp; WAN</li>
            <li>Network Security</li>
            <li>Wireless strategies</li>
            <li>Accounting Software Integration</li>
            <li>POS Payment Solutions</li>
        </ul>
        </p>
        <p>At Datamond, we strive to turn every working relationship into a TRUSTED relationship. We understand that accomplishment begins with trust. We seek to deliver the favorable results our clients expect when they place their confidence in us.</p>
        <p>We are a team of highly skilled professionals who specializes in providing data management expertise. When you work with the Datamond team, you can only expect the best. That is our commitment to you.</p>
        <div class="focus-block">
          <h3>Our Mission</h3>
          <p class="fancy">To turn data management problems into solutions</p>
        </div> 
        <!--
        <h3>Vital Stats</h3>
        <div class="row-fluid stats">
          <div class="span4 stat">
            <div class="well">100s</div>
            <small>Happpy Customers</small></div>
          <div class="span4 stat">
            <div class="well">163+</div>
            <small>GB Transfered</small></div>
          <div class="span4 stat">
            <div class="well">214</div>
            <small>Bugs Fixed</small></div>
        </div>
        -->
        <!--Customer testimonial-->
        <div class="block testimonials margin-top-large margin-bottom-large" id="testimonials">
          <h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>
          <div class="row-fluid">
            <div class="span6">
              <blockquote>
                <p>"It's totally awesome, we're could imagine life without it!"</p>
                <img src="img/misc/charles-quote.png" alt="Charles Spencer Chaplin" /> <small><strong>Sir Charles Spencer Chaplin</strong><br />
                British comic actor and filmmaker</small> </blockquote>
            </div>
            <div class="span6">
              <blockquote class="right">
                <p>"10 out of 10, highly recommended!"</p>
                <img src="img/misc/jimi-quote.png" alt="Jimi Hendrix" /> <small><strong>Jimi Hendrix</strong><br />
                All out rocker!</small> </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>