<div id="content">
  <div class="container">
    <div class="row"> 
      <!-- sidebar -->
      <div class="span3 sidebar hidden-phone">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li><a href="about.htm" class="first">About Us <small>How It All Began</small></a></li>
            <li><a href="team.htm">The Team <small>Our team of stars</small></a></li>
            <li class="active"><a href="contact.htm">Contact Us<small>How to get in touch</small></a></li>
          </ul>
        </div>
      </div>
      
      <!--main content-->
      <div class="span9">
        <h2 class="title-divider"><span>Thank you!</span></h2>
        <div class="row-fluid">
          <div class="span5">
            <h5>We have received the following message from you</h5>
             <span class="span11">Name: <%= @contact.name %></span>
             <br />
             <span class="span11">Email: <%= @contact.email %></span>
             <br />
             <span class="span11">Message: <%= @contact.message %></span>
             <br />
          </div>
          <div class="span7"> 
            <!--map & contact details-->
            <h3>Where To Find Us</h3>
            <img src="img/misc/map.png" alt="Location Map" />
            <address>
            <a href="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=9.494005,20.698242&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;t=m&amp;ll=51.517075,-0.146084&amp;spn=0.014421,0.062571&amp;z=14&amp;iwloc=A&amp;output=embed" class="btn more-link pull-right"><i class="icon-zoom-in"></i>Enlarge Map</a> <strong>Flexor Bootstrap Theme Inc</strong> <abbr title="Address"><i class="icon-pushpin i-primary"></i></abbr> Sunshine House, Sunville. SUN12 8LU.<br />
            <abbr title="Phone"><i class="icon-phone i-primary"></i></abbr> 019223 8092344<br />
            <abbr title="Email"><i class="icon-envelope-alt i-primary"></i></abbr> info@flexorinc.com<br />
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>