  <!--login modal form-->
  <div id="register-modal" class="modal modal-inline" tabindex="-1" role="dialog">
    <div class="modal-header">
      <h3 id="login-modal-label"><i class="icon-edit"></i> Register</h3>
    </div>
    <div class="modal-body">
      <form id="form-register">
        <h5>Price Plan</h5>
        <select>
          <option>Basic</option>
          <option>Pro</option>
          <option>Pro +</option>
        </select>
        <h5>Account Information</h5>
        <input type="text" class="input-block-level" placeholder="First name">
        <input type="text" class="input-block-level" placeholder="Last name">
        <input type="text" class="input-block-level" placeholder="Username">
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="text" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="term">
          I agree with the Terms and Conditions. </label>
        <button class="btn btn-primary" type="submit">Sign up</button>
      </form>
    </div>
    <div class="modal-footer"> <small>Already signed up? <a href="login.htm">Login here</a></small> </div>
  </div>