<div id="content">
  <div class="container showcase">
    <div class="row-fluid">
      <h2 class="span8">Showcase: Project Name</h2>
      <div class="span4 showcase-pager"><a href="#" class="btn more-link"><i class="icon-arrow-left"></i> Prev</a> <a href="#" class="btn more-link i-right">Next <i class="icon-arrow-right"></i></a></div>
    </div>
    
    <!--Portfolio feature item-->
    <div class="showcase-item row-fluid">
      <div class="span8 showcase-slides"> 
        <!-- Slider for project pictures --> 
        
        <!--Flexslider Showshow-->
        <section class="flexslider-wrapper">
          <div class="flexslider" data-slidernav="auto" data-transition="slide"> 
            <!--The Slides-->
            <div class="slides"> <img src="img/showcase/featured-project1.png" class="slide" alt="Project photo 1" /> <img src="img/showcase/featured-project2.png" class="slide" alt="Project photo 2" /> <img src="img/showcase/featured-project3.png" class="slide" alt="Project photo 3" /> <img src="img/showcase/featured-project4.png" class="slide" alt="Project photo 4" /> <img src="img/showcase/featured-project5.png" class="slide" alt="Project photo 5" /> </div>
          </div>
        </section>
      </div>
      <div class="span4 details"> 
        <!-- quick details -->
        <h3>Project Details</h3>
        <dl>
          <dt>Project Type</dt>
          <dd>Web</dd>
          <dt>Client</dt>
          <dd><a href="http://themelize.me">Themelize.me</a></dd>
          <dt>Completed</dt>
          <dd>Nov 2012</dd>
          <dt>Technologies</dt>
          <dd>HTML5, CSS3, PHP, Photoshop</dd>
          <dt>Services Provided</dt>
          <dd>Design, development, performance testing</dd>
          <dt>Project Description</dt>
          <dd>Nec elementum eros nec? Et lacus sociis rhoncus dictumst in! Hac ultrices, in? Mauris magna porta. Nec lundium, sed in, cum? Enim vel in, elit. Arcu dolor parturient magna montes sociis augue, non?</dd>
        </dl>
        <a href="http://themelize.me" class="btn btn-primary">View Online</a> </div>
    </div>
    <div class="row-fluid block showcase">
      <h3>Related Work</h3>
      <!--related items-->
      <div class="flexslider-carousel" data-item-width="270" data-item-margin="30">
        <div class="items">
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project1.png" alt="Project 1 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 1</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project2.png" alt="Project 2 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 2</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project3.png" alt="Project 3 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 3</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project4.png" alt="Project 4 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 4</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project5.png" alt="Project 5 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 5</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project6.png" alt="Project 6 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 6</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project7.png" alt="Project 7 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 7</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
          <div class="item"> <a href="showcase-item.htm" class="overlay-wrapper"> <img src="img/showcase/project8.png" alt="Project 8 image" class="underlay" /> <span class="overlay on"></span> </a>
            <div>
              <h3><a href="showcase-item.htm">Project 8</a></h3>
              <a href="showcase-item.htm" class="btn more-link"><i class="default"></i>Read more</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>