<div id="content">
  <div class="container"> 
    <div class="services">
      <div class="container">
        <h2><small>Solutions: </small>Finance</h2>

        <h3>Accounting Software Integration</h3>
        <p>...</p>

        <h3>POS Payment Solution</h3>
        <p>...</p>

      </div>
    </div>
  </div>
</div>
