<div id="content">
  <div class="container"> 
    <div class="services">
      <div class="container">
        <h2><small>Solutions: </small>Finance</h2>

        <ul class="thumbnails">
            <li class="span4"> <i class=" icon-list-alt icon-4x i-primary i-circle"></i>
                <h4 class="title">Accounting Software Integration</h4>
                <p>...</p>
            </li>            
            <li class="span4"> <i class="icon-usd icon-4x i-primary i-circle"></i>
                <h4 class="title">POS Payment Solution</h4>
                <p>...</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
